body {
  background-color: rgb(219, 219, 219);
}

#gameContainer {
  font-family: 'Lato', sans-serif;
  color: #111111;
  width: 600px;
  margin: auto;
  background-color: rgb(82, 153, 228);
  height: 1000px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px black;
}

ul {
  list-style-type: none;
  padding: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0 em;
}

progress {
  box-sizing: border-box;
  width: 70px;
}
.expBar {
  width: 140px;
}

.container {
  display: block;
  position: relative;
  width: 160px;
  min-height: 100px;
  max-height: 200px;
  background-color: rgb(217, 217, 217);
  border: solid 1px rgb(10, 0, 130);
  box-shadow: 0 0 2px rgb(10, 0, 130);
  border-radius: 5px;
}

.poke .inner {
  position: relative;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
}

.poke .inner .name {
  font-size: 16px;

}

#enemy {
  float: right;
  border-radius: 10px 0 0 10px;
  border-right: none;
}

#areasList {
  float: right;
  min-height: none;
  max-height: none;
  height: 400px;
  text-align: center;
  border-radius: 0 5px 5px 5px;
}

#enemy .status, #enemy .expBar {
  display: none;
}


#player {
  float: left;
  border-radius: 0 10px 10px 0;
  border-left: none;
  margin-top: 20px;
}

#playerPokes {
  float: left;
  min-height: none;
  max-height: none;
  height: 800px;
  text-align: center;
  overflow-y: scroll;
}

#heal {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
