#gameContainer {
  font-family: arial;
  color: #111111;
  width: 600px;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 10px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0 em;
}

progress {
  box-sizing: border-box;
  width: 70px;
}

.container {
  display: block;
  position: relative;
  width: 160px;
  min-height: 100px;
  max-height: 200px;
  background-color: rgb(249, 193, 193);
  border: solid 1px red;
  border-radius: 5px;
}

.poke {
  text-align: center;
}

.poke .inner {
  position: relative;
  line-height: 25px;
}

.poke .name {

}

.poke .img {

}

.poke .hp {
  font-size: 12px;
}

#player {
  float: right;
}

#enemy {
  float: left;
}

#playerPokes {
  float: right;
  min-height: none;
  max-height: none;
  height: 400px;
  margin-left: 10px;
}
