body {
  background-color: rgb(219, 219, 219);
}

#gameContainer {
  font-family: 'Lato', sans-serif;
  color: #111111;
  width: 800px;
  margin: auto;
  background-color: rgb(82, 153, 228);
  height: 602px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px black;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0 em;
}

.container {
  display: block;
  position: relative;
  width: 160px;
  min-height: 100px;
  max-height: 400px;
  background-color: rgb(217, 217, 217);
  border: solid 1px rgb(10, 0, 130);
  box-shadow: 0 0 3px rgb(10, 0, 130);
  border-radius: 5px;
}

.poke .inner {
  position: relative;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  width: 165px;
  float: left;
}

#player .inner {
  border-right: solid 1px rgb(7, 0, 90);
  border-bottom: solid 1px rgb(7, 0, 90);
}

.poke .inner .img.attacked-right{
  margin-left: 15px;
}
.poke .inner .img.attacked-left{
  margin-right: 15px;
}
.poke .inner .img {
  transition: margin 0.08s ease-out;
  margin-left: 0px;
  margin-right: 0px;
}



.poke .inner .name {
  font-size: 18px;
  font-weight: 500;
}

#enemy {
  float: right;
  border-radius: 10px 0 0 10px;
  border-right: none;
  width: 311px;
}

#enemy .inner {
  float: right;
}

#capture-options {
  float: left;
  width: 146px;
  box-sizing: border-box;
  padding: 10px;
}

#areasList {
  float: right;
  min-height: none;
  max-height: none;
  height: 400px;
  border-radius: 0 5px 5px 5px;
  width: 190px;
  text-align: right;
}

#areasList li,#areasList a {
  margin-right: 6px;
}

#enemy .status, #enemy .expBar {
  display: none;
}


#player {
  float: left;
  border-radius: 0 10px 10px 0;
  border-left: none;
  position: absolute;
  top: 270px;
  left: 172px;
  width: 438px;
  height: 340px;
}

#playerPokes {
  float: left;
  min-height: none;
  max-height: none;
  height: 600px;
  text-align: center;
  overflow-y: scroll;
  text-align: left;
}

#playerPokes .checkDescription {
  font-size: 14px;
}

#playerPokesList {
  position: relative;
  left: 8px
}

#heal {
  display: block;
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#console {
  float: left;
  width: 259px;
  height: 340px;
  box-sizing: border-box;
  padding: 10px;
  overflow: scroll;
}

#console .console-text {

}


#playerBox {
  position: absolute;
  top: 231px;
  width: 166px;
  height: 109px;
}

#playerBox button {
  margin-left: 10px;
  width: 150px;
}

#gitLink  {
  position: absolute;
  top: 597px;
  left: 761px;
}

#version {
  position: absolute;
  top: 598px;
  left: 621px;
}





/* progressbar reset*/
progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */
	border: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;

	/* Dimensions */
	width: 400px;
	height: 60px;

}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}

/* progress bg */

progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: rgb(6, 64, 65) !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: rgb(6, 64, 65);
}

/* progress value */

/* IE10 */
progress {
    color: rgb(15, 238, 141);
}

/* Firefox */
progress::-moz-progress-bar {
    background: rgb(15, 238, 141);
}

/* Chrome */
progress::-webkit-progress-value {
    background: rgb(15, 238, 141);
    border-radius: 0 10px 0 0;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: rgb(15, 238, 141);
}


progress {
  width: 70px;
  height: 5px;
  position: relative;
  top: -3px;
  box-shadow: 0 0 2px black;
}

progress.expBar {
  width: 120px;
}
